# Configurações de Integração com o Sankhya
PROD_URL=https://sankhya.stoky.com.br
TREINA_URL=https://teste.stoky.com.br

# Token de Autenticação do Sentry (Opcional para desenvolvimento local)
SENTRY_AUTH_TOKEN=
